<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkme.backend.mapper.PersonalityTraitOptionMapper">
  
  <select id="selectOptionIdByName" resultType="int">
    SELECT option_id FROM personality_trait_option
    WHERE name = #{name}
    LIMIT 1
  </select>
  
</mapper>

